* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(206, 238, 206);
}

.navbar {
  position: absolute;
  width: 100%;
}

.navbar > ul{
  list-style: none;
  overflow: hidden;
}

.navbar > ul li{
  float: left;
}

.navbar > ul li a {
  display: block;
  color: rgb(60, 99, 60);
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}

.navbar > ul li a:hover {
  color: rgb(21, 35, 21);
}

.home {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 450px;
  height: 100vh;
  padding: 50px;
}

.text> h1 {
  font-size: 40px;
  color: rgb(60, 99, 60);
}

.text > p {
  font-size: 18px;
  color: rgb(77, 128, 77);
}

.home-image {
  height: 100vh;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
}

.recipes {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.recipes > h2 {
  font-size: 30px;
  color: rgb(60, 99, 60);
  margin-left: 50px;
}

.recipe {
  display: flex;
  gap: 50px;
  margin-left: 50px;
  margin-right: 50px;
  overflow-x: scroll;
}

.recipe::-webkit-scrollbar-track {
  background: #3c633c;
}

.recipe::-webkit-scrollbar-thumb {
  background: #ceeece;
}

.card {
  width: 190px;
  background-color: rgb(60, 99, 60);
  color: rgb(206, 238, 206);
  text-align: center;
  padding-bottom: 16px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.card > img {
  width: 190px;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom:16px;
}