* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(60, 99, 60);
}

#recipe-form {
  background-color: rgb(214, 237, 214);
  padding: 20px;
  color: rgb(60, 99, 60);
  border-radius: 10px;
}

#recipe-form > input {
  width: 100%;
  outline: none;
}

#recipe-form > textarea {
  width: 300px;
  height: 100px;
  outline: none;
}

#recipe-form > button {
  float: right;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(177, 204, 177);
  color: rgb(60, 99, 60);
}

#recipe-form > button:hover{
  background-color: rgb(157, 182, 157);
}

.recipe-details {
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 150px;
  overflow-y: auto;
}