@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(214, 237, 214);
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  position: fixed;
  background-color: rgb(60, 99, 60);
  width: 100%;
}

.navbar > ul{
  list-style: none;
  overflow: hidden;
}

.navbar > ul li{
  float: left;
}

.navbar ul li#login-btn {
  float: right;
  margin-right: 10px;
  margin-top: 7px;
}

.navbar ul li#login-btn > a {
  color: rgb(60, 99, 60);
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.navbar > ul li > a {
  display: block;
  color: rgb(214, 237, 214);
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
}

.bx-user-circle {
  font-size: 25px;
  color: rgb(214, 237, 214);
}

#logo {
  width: 40px;
  margin-left: 5px;
  margin-top: 5px;
  color: rgb(187, 232, 187);
}

.navbar > ul li > a:hover {
  color: rgb(21, 35, 21);
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  padding: 6px;
  background-color: inherit;
  color: rgb(214, 237, 214);
  font-family: inherit;
  margin: 0;
  padding: 14px 50px;
}

.dropdown-content {
  font-size: 16px;
  display: none;
  position: absolute;
  background-color: rgb(60, 99, 60);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(214, 237, 214);
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: rgb(183, 229, 183);
  color: rgb(60, 99, 60);
}

.dropdown:hover .dropdown-content {
  display: block;
}

#recipes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
}

.recipe-card {
  width: 180px;
  background-color: rgb(60, 99, 60);
  color: rgb(206, 238, 206);
  text-align: center;
  padding-bottom: 16px;
  border-radius: 20px;
  margin-top: 20px;
}

.recipe-card img {
  width: 180px;
  height: 160px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom:10px;
}

.recipe-card > h3 {
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  margin-right: 10px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(60, 99, 60);
  padding-bottom: 20px;
  color: rgb(214, 237, 214);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100%;
  height: 210px;
}

footer ul {
  list-style: none;
}

.recipes-section, .get-in-touch {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  line-height: 1.5rem;
  padding-top: 44px;
}

.wrapper ul li a {
  text-decoration: none;
  color: rgb(214, 237, 214);
}
