@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: rgb(60, 99, 60);
  justify-content: center;
  color: rgb(60, 99, 60);
  font-family: 'Open Sans', sans-serif;
}

.recipe-detail {
  background-color: rgb(214, 237, 214);
  width: 100%;
  max-width: 700px;
  padding: 30px 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 30px;
}

.recipe-detail > img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 20px;
}

#recipe-title {
  margin-bottom: 30px;
}

#ingredients, #instructions {
  margin-bottom: 12px;
}

#recipe-ingredients, #recipe-instructions{
  margin-left: 20px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24px;
}

#recipe-instructions > li {
  margin-bottom: 10px;
}

#recipe-instructions li::marker {
  color: rgb(60, 99, 60);
  font-weight: bold;
}

@media (max-width: 768px) {
  .recipe-detail {
    margin: 0;
    border-radius: 0;
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  #recipe-ingredients, #recipe-instructions {
    font-size: 28px;
    line-height: 40px;
  }
}